<ion-header>
  <ion-navbar>
    <ion-title>
      Comida
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="profile">
  <ion-list>
    <ion-list-header>
      Nombre de Comida
    </ion-list-header>

    <ion-item (click)="updateNameComida()">
      <ion-grid>
        <ion-row>
          <ion-col *ngIf="parameter1?.name">
            {{parameter1?.name}}
          </ion-col>
          <ion-col class="placeholder-profile" *ngIf="!parameter1?.name">
            <span>
              Nombre de comida.
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-label class="dob-label">Ingredientes</ion-label>
    </ion-item>

  <ion-list>
  <ion-item-sliding *ngFor="let ingrediente of parameter1.ingredientes">
    <ion-item >
      <ion-label>{{ingrediente.name}}</ion-label>
      <ion-checkbox checked="true" disabled="true"></ion-checkbox>
    </ion-item>
    <ion-item-options side="left">
      <button ion-button color="danger" (click)="borrarIngrediente(ingrediente)">Borrar</button>
    </ion-item-options>
  </ion-item-sliding>
  <button (click)="borrarIngrediente()"><ion-icon name="nutrition">Nuevo ingrediente</ion-icon></button>
</ion-list>

  </ion-list>
</ion-content>