<ion-header>
  <ion-navbar>
    <ion-title>
      Comidas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button (click)="goToProfile()"><ion-icon name="person"></ion-icon></button>
  <button (click)="newComida()"><ion-icon name="pizza"></ion-icon></button>

  <ion-list>
    <ion-list>
      <ion-col *ngIf="userProfile?.firstName || userProfile?.lastName">
          <ion-item *ngFor="let comida of userProfile.comidas; let i = index" (click)="itemClicked($event,comida,i)">
          <ion-label>{{comida.name}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-list>

  </ion-list>
</ion-content>